@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "MegaDesk Home";

}

<h1>MegaDesk</h1>
<p><a href="~/AddQuote">Add Quote</a></p>
<p><a href="~/ViewQuotes">View Quotes</a></p>
<img src="" alt="" />